* {
    background-color: white;
    font-family: Helvetica;
    padding: 0 auto;
    margin: 0 auto;
}

html {
    padding-bottom: 200px;
}

#logo {
    width: 200px;
    position: fixed;
    left: 700px;
    z-index: 1;
}

h1 {
    padding: 30px 0px 50px 200px;
    text-transform: uppercase;
    font-size: 35px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid black; 
}

.buttons {
    position: fixed;
    left: 275px;
    top: 80px;
    z-index: 1;
}

.buttons a{
/*    border: 2px solid black; */
    border-radius: 5px;
    color: black;
    margin: 10px;
    padding: 2px;
    width: 300px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.tekst {
    position: relative;
    top: 140px;
    max-width: 600px;
    margin-left: 250px;
    text-align: justify;
    font-family: 'Playfair Display', serif;
}

#knappEN, #knappTO, #knappTRE {
    background-color: #ff6600;
}

#bunntekst {
    position: fixed;
    bottom: 0px;
    padding: 5px 50px 5px 250px;
    width: 100%;
    border-top: 1px solid black;
    font-size: 12px;
}

.bilder-grep {
    position: relative;
    width: 400px;
    top: 200px;
    margin-left: 250px;
}

.tekst.space {
    padding-bottom: 10px;
}

#bold {
    font-weight: bold;
}

.video {
    margin-left: 250px;
    position: relative;
    top: 150px;
    width: 420px;
    height: 315px;
}
